<template>
  <div id="app">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Dashboard</a>
        <button class="btn-default" @click="getPayments()">Get Payments</button>
      </nav>
    </header>

    <div class="container-fluid justify-content-center">
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Memo</th>
            <th scope="col">Source Account</th>
            <th scope="col">Destination Account</th>
            <th scope="col">Amount</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Transaction ID</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="row in payments.rows" :key="row.id">
            <td>{{ row["id"] }}</td>
            <td>{{ row["memo"] }}</td>
            <td>{{ row["sourceAccount"] }}</td>
            <td>{{ row["destinationAccount"] }}</td>
            <td>{{ row["amount"] }}</td>
            <td>{{ row["timestamp"] }}</td>
            <td><a :href="row['url']">{{ row['transactionId'] }}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      host: "http://localhost:3000",
      payments: {
        rows: null
      },
    };
  },
  methods: {
    async getPayments() {
      const accountId = "";
      const result = await axios.get(
        `${this.host}/stellar/payments?id=${accountId}`
      );

      this.payments.rows = result.data.map((x) => ({
        ...x,
        url: `https://stellarscan.io/transaction/${x.transactionId}`,
      }));
      console.log(result);
    },
  },
};
</script>

<style>
table {
  margin-top: 3.5%;
}

</style>
